<div class="section section-area">
  <div class="section-content">
    <div class="container">
      <div class="mx-auto">
        <div class="section_title mb-4 text-center">
          <h2><span class="text-white">About</span></h2>
            <p class="section_subtitle mx-auto text-light">
                hold ? fish : palm;
            </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
          <div class="about-text-block">
            <div class="about-content text-white">
              <div class="text">
                姓名：王景（OK）<br />
                性别：男 <br />
                生日：计划生育没抓住我的那一年的12月15日 <br />
                爱好：玩游戏，和学习一切没有接触过的新东西 <br />
                教育：接受了完整的9年义务教育（应该是一个合格的社会主义接班人了）<br />
                工作：搬砖<br />
              </div>
              <div class="text">
                性格好,文静,随和,学习能力强 <br />
                身上带有流氓气息的大龄搬砖男青年. <br />
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="about-img-box">
            <div class="image"><img src="img/about/about-img.png" class="img-fluid" alt=""></div>
          </div>
        </div>
      </div>
        <div class="row text-white">
<!--                      <div class="col-lg-3 col-6">-->
<!--                        <div class="counter-block"><span class="mdi mdi-fire"></span>-->
<!--                          <div class="details">-->
<!--                            <h3 class="mb-0 mt-0 number"><em class="count">455</em></h3>-->
<!--                            <p class="mb-0">Projects completed</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-3 col-6">-->
<!--                        <div class="counter-block"><span class="mdi mdi-coffee-outline"></span>-->
<!--                          <div class="details">-->
<!--                            <h3 class="mb-0 mt-0 number"><em class="count">775</em></h3>-->
<!--                            <p class="mb-0">Cup of coffee</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-3 col-6">-->
<!--                        <div class="counter-block"><span class="mdi mdi-account-multiple-outline"></span>-->
<!--                          <div class="details">-->
<!--                            <h3 class="mb-0 mt-0 number"><em class="count">300</em></h3>-->
<!--                            <p class="mb-0">Satisfied clients</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-3 col-6">-->
<!--                        <div class="counter-block"><span class="mdi mdi-trophy-outline"></span>-->
<!--                          <div class="details">-->
<!--                            <h3 class="mb-0 mt-0 number"><em class="count">10</em></h3>-->
<!--                            <p class="mb-0">Nominees winner</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="expert-box text-center"><img src="img/about/eye.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="expert-box text-center"><img src="img/about/shadow.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="expert-box text-center"><img src="img/about/future.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>