<div class="section section-area">
  <div class="section-content">
    <div class="container">
      <div class="mx-auto">
        <div class="section_title mb-4 text-center">
          <h2><span class="text-white">contanct me</span></h2>
          <p class="section_subtitle mx-auto text-light">
              两个BUG鸣翠柳，一行代码上西天
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="contact-info text-center">
                <div class="icon">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <h4 class="title font-weight-bold">Phone</h4>
                    <p class="text-white">
                        给我一个机会
                    </p>
                    <a href="#" class="h6 text-theme">+080 4854 3353</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="contact-info text-center">
                <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <h4 class="title font-weight-bold">Email</h4>
                    <p class="text-white">也给彼此一个机会</p>
                    <a href="#" class="h6 text-theme">yzok0223@gmail.com</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <div class="p-4 contact-box rounded form-box">
              <h4 class="m-0">Get In Touch!</h4>
              <div class="custom-form">
                <div id="message"></div>
                <form action="http://formspree.io/yzok0223@gmail.com" method="POST">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group position-relative">
                          <label>Your Name <span class="text-danger">*</span></label>
                          <input name="name" id="name" type="text" class="form-control" required="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Your Email <span class="text-danger">*</span></label>
                        <input name="_replyto" id="email" type="email" class="form-control" required="">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group position-relative">
                          <label>Subject</label>
                          <input name="subject" id="subject" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group position-relative">
                          <label>Comments</label>
                          <textarea name="body" id="comments" rows="4" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-center"><input type="submit" name="send" class="btn btn-hover send-btn btn-block" value="Send Message">
                      <div id="simple-msg"></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-1 order-md-2">
            <div class="contact-img"><img src="img/callme.jpg" class="img-fluid " alt=""></div>
          </div>
        </div>
      <div class="row">
          <div class="col-12 ">
            <p class="copy-right text-center text-white">Copyright © 2020.</p>
          </div>
        </div>
    </div>
  </div>
</div>